#igshortcuts {
  list-style-image: url('../icon16.png') !important;
}
#igshortcuts[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #igshortcuts {
  list-style-image: url('../icon32.png') !important;
}

#igshortcuts-alerts {list-style-image: url('icons/alerts.png') !important;}
#igshortcuts-analytics {list-style-image: url('icons/analytics.png') !important;}
#igshortcuts-blog {list-style-image: url('icons/blog.png') !important;}
#igshortcuts-blogger {list-style-image: url('icons/blogger.png') !important;}
#igshortcuts-book {list-style-image: url('icons/book.png') !important;}
#igshortcuts-calender {list-style-image: url('icons/calender.png') !important;}
#igshortcuts-code {list-style-image: url('icons/code.png') !important;}
#igshortcuts-dashboard {list-style-image: url('icons/dashboard.png') !important;}
#igshortcuts-drive {list-style-image: url('icons/drive.png') !important;}
#igshortcuts-earth {list-style-image: url('icons/earth.png') !important;}
#igshortcuts-finance {list-style-image: url('icons/finance.png') !important;}
#igshortcuts-gmail {list-style-image: url('icons/gmail.png') !important;}
#igshortcuts-groups {list-style-image: url('icons/groups.png') !important;}
#igshortcuts-image {list-style-image: url('icons/image.png') !important;}
#igshortcuts-maps {list-style-image: url('icons/maps.png') !important;}
#igshortcuts-mobile {list-style-image: url('icons/mobile.png') !important;}
#igshortcuts-music {list-style-image: url('icons/music.png') !important;}
#igshortcuts-news {list-style-image: url('icons/news.png') !important;}
#igshortcuts-note {list-style-image: url('icons/note.png') !important;}
#igshortcuts-panoramio {list-style-image: url('icons/panoramio.png') !important;}
#igshortcuts-picasa {list-style-image: url('icons/picasa.png') !important;}
#igshortcuts-play {list-style-image: url('icons/play.png') !important;}
#igshortcuts-plus {list-style-image: url('icons/plus.png') !important;}
#igshortcuts-print {list-style-image: url('icons/print.png') !important;}
#igshortcuts-scholar {list-style-image: url('icons/scholar.png') !important;}
#igshortcuts-search {list-style-image: url('icons/search.png') !important;}
#igshortcuts-site {list-style-image: url('icons/site.png') !important;}
#igshortcuts-sketchup {list-style-image: url('icons/sketchup.png') !important;}
#igshortcuts-hangouts {list-style-image: url('icons/hangouts.png') !important;}
#igshortcuts-translate {list-style-image: url('icons/translate.png') !important;}
#igshortcuts-trends {list-style-image: url('icons/trends.png') !important;}
#igshortcuts-wallet {list-style-image: url('icons/wallet.png') !important;}
#igshortcuts-youtube {list-style-image: url('icons/youtube.png') !important;}
#igshortcuts-shopping {list-style-image: url('icons/shopping.png') !important;}
#igshortcuts-patent {list-style-image: url('icons/patent.png') !important;}
#igshortcuts-hotel {list-style-image: url('icons/hotel.png') !important;}
#igshortcuts-android {list-style-image: url('icons/android.png') !important;}
#igshortcuts-bookmarks {list-style-image: url('icons/bookmarks.png') !important;}
#igshortcuts-adwords {list-style-image: url('icons/adwords.png') !important;}
#igshortcuts-adsense {list-style-image: url('icons/adsense.png') !important;}
#igshortcuts-feedburner {list-style-image: url('icons/feedburner.png') !important;}
#igshortcuts-fusion {list-style-image: url('icons/fusion.png') !important;}
#igshortcuts-offers {list-style-image: url('icons/offers.png') !important;}
#igshortcuts-urlshortner {list-style-image: url('icons/urlshortner.png') !important;}
#igshortcuts-webhistory {list-style-image: url('icons/webhistory.png') !important;}
#igshortcuts-webmaster {list-style-image: url('icons/webmaster.png') !important;}
#igshortcuts-chromebook {list-style-image: url('icons/chromebook.png') !important;}
#igshortcuts-chromium {list-style-image: url('icons/chromium.png') !important;}
#igshortcuts-cloudeplatform {list-style-image: url('icons/cloudeplatform.png') !important;}
#igshortcuts-contacts {list-style-image: url('icons/contacts.png') !important;}
#igshortcuts-correlate {list-style-image: url('icons/correlate.png') !important;}
#igshortcuts-currents {list-style-image: url('icons/currents.png') !important;}
#igshortcuts-developersdashboard {list-style-image: url('icons/developersdashboard.png') !important;}
#igshortcuts-inputtool {list-style-image: url('icons/inputtool.png') !important;}
#igshortcuts-ideas {list-style-image: url('icons/ideas.png') !important;}
#igshortcuts-mars {list-style-image: url('icons/mars.png') !important;}
#igshortcuts-sky {list-style-image: url('icons/sky.png') !important;}
#igshortcuts-transit {list-style-image: url('icons/transit.png') !important;}
#igshortcuts-webpagetest {list-style-image: url('icons/webpagetest.png') !important;}
#igshortcuts-wdyl {list-style-image: url('icons/wdyl.png') !important;}
#igshortcuts-video {list-style-image: url('icons/video.png') !important;}
#igshortcuts-voice {list-style-image: url('icons/voice.png') !important;}
#igshortcuts-catalogs {list-style-image: url('icons/catalogs.png') !important;}
#igshortcuts-authenticator {list-style-image: url('icons/authenticator.png') !important;}
#igshortcuts-business {list-style-image: url('icons/business.png') !important;}
#igshortcuts-computeengine {list-style-image: url('icons/computeengine.png') !important;}
#igshortcuts-coordinate {list-style-image: url('icons/coordinate.png') !important;}
#igshortcuts-earthengine {list-style-image: url('icons/earthengine.png') !important;}
#igshortcuts-fonts {list-style-image: url('icons/fonts.png') !important;}
#igshortcuts-forms {list-style-image: url('icons/forms.png') !important;}
#igshortcuts-glass {list-style-image: url('icons/glass.png') !important;}
#igshortcuts-goggles {list-style-image: url('icons/goggles.png') !important;}
#igshortcuts-help {list-style-image: url('icons/help.png') !important;}
#igshortcuts-partnerdash {list-style-image: url('icons/partnerdash.png') !important;}
#igshortcuts-photos {list-style-image: url('icons/photos.png') !important;}
#igshortcuts-local {list-style-image: url('icons/local.png') !important;}
#igshortcuts-presentation {list-style-image: url('icons/presentation.png') !important;}
#igshortcuts-script {list-style-image: url('icons/script.png') !important;}
#igshortcuts-streetview {list-style-image: url('icons/streetview.png') !important;}
#igshortcuts-sync {list-style-image: url('icons/sync.png') !important;}
#igshortcuts-tagmanager {list-style-image: url('icons/tagmanager.png') !important;}
#igshortcuts-tasks {list-style-image: url('icons/tasks.png') !important;}
#igshortcuts-webstore {list-style-image: url('icons/webstore.png') !important;}
#igshortcuts-mapsengine {list-style-image: url('icons/mapsengine.png') !important;}
#igshortcuts-chrome {list-style-image: url('icons/chrome.png') !important;}
#igshortcuts-slides {list-style-image: url('icons/slides.png') !important;}
#igshortcuts-sheets {list-style-image: url('icons/sheets.png') !important;}
#igshortcuts-privacy {list-style-image: url('icons/privacy.png') !important;}
#igshortcuts-admin {list-style-image: url('icons/admin.png') !important;}
#igshortcuts-apps {list-style-image: url('icons/apps.png') !important;}
#igshortcuts-flights {list-style-image: url('icons/flights.png') !important;}
#igshortcuts-domains {list-style-image: url('icons/domains.png') !important;}
#igshortcuts-security {list-style-image: url('icons/security.png') !important;}
#igshortcuts-docs {list-style-image: url('icons/docs.png') !important;}
#igshortcuts-drawings {list-style-image: url('icons/drawings.png') !important;}
#igshortcuts-inbox {list-style-image: url('icons/inbox.png') !important;}
#igshortcuts-support {list-style-image: url('icons/support.png') !important;}
#igshortcuts-account {list-style-image: url('icons/account.png') !important;}
#igshortcuts-admob {list-style-image: url('icons/admob.png') !important;}
#igshortcuts-store {list-style-image: url('icons/store.png') !important;}